.pictureAccueil{
    position: relative;
}
.Accueil{
    width:90%;
    margin: 0 auto;
}
.imageAccueil,.Accueil .pictureAccueil p{
    
    width: 100%;
    height: 223px;
    border-radius: 20px;
}
.Accueil .pictureAccueil p{
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: white;
    background-color:rgba(0, 0, 0, 0.21);
}
.Accueil ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap ;
    padding: 40px 30px;
    background: #F7F7F7;
    border-radius: 20px;
    justify-content: space-around;
    margin: 24px auto;
}
.listImageAcceuil li{
    width: 30%;
    height: 320px;
    margin-bottom: 20px;
    position: relative;
}
.listImageAcceuil li p{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    width: 50%;
    text-align: left;
}
.listImageAcceuil li img{ 
    display: block;
    width: 100%;
    height: 320px;
    border-radius: 20px;
}
@media (max-width: 550px) {
    .Accueil ul{
        flex-direction: column;
    }
    .Accueil li,.Accueil ul li img{
        width: 100%;
        height: 225px;
    }
    .Accueil .pictureAccueil p{
        font-weight: 500;
        font-size: 24px;
        height: 111px;

    }
    .imageAccueil{
        height: 111px;
    }
}